@model PagedList.IPagedList<Scoring_MGDP.ViewModel.ContratoProvViewModel>
@*@model PagedList.IPagedList < Scoring_MGDPData.ContratoProv>*@
@using PagedList.Mvc;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="col-sm-12" style="background: white;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h2 class="azul sombraTexto textoCentro">Contratos de proveedores</h2>
    <p>
        @Html.ActionLink("Nuevo Contrato", "Create","ContratoProv", null, new { @class = "modal-link btn btn-primary" })
    </p>
    <div class="visible-md visible-lg col-md-12">
        <table class="table table-striped table-sm">
            <tr class="active text-center">
                <th>
                    Número
                </th>
                <th>
                    Responsable
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Proveedor
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numcontrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorViewModel.NombreProveedor)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Editar", "Edit", "ContratoProv", new { id = item.Id }, new { @class = "modal-link btn btn-primary btn-sm" })
                        @Html.ActionLink("Eliminar", "Delete","ContratoProv", new { id = item.Id }, new { @class = "modal-link btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </table>
        <br />
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>