@model Scoring_MGDP.ViewModel.MedicionesMetricasViewModel

<div class="modal-content">
    <h4 align="center">¿Está seguro de eliminar esta medición?</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FechaMedicion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaMedicion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValorMedido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValorMedido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Calculado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Calculado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ratio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ratio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RatioSiNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RatioSiNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefMetricasViewModel.Clave)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefMetricasViewModel.Clave)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiposProyectosViewModel.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiposProyectosViewModel.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-10 col-md-5">
                    <input type="submit" value="Borrar" class="btn btn-primary" id="approve-btn" />
                    <br />
                    <br />
                </div>
            </div>
            <br />
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
