@model Scoring_MGDPData.MedicionesMetricas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MedicionesMetricas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FechaMedicion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaMedicion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorMedido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorMedido)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Calculado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Calculado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cump_Ratio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cump_Ratio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Calcula_RatioSN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Calcula_RatioSN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DefMetricas.Clave)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DefMetricas.Clave)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TiposProyectos.DescTipoProyecto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TiposProyectos.DescTipoProyecto)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_Medicion_Metrica }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
